# Ignore minified JavaScript files
*.min.js linguist-vendored

# Ignore minified CSS files
*.min.css linguist-vendored

# Ignore documentation files
/path/to/docs linguist-documentation

# Ignore specific JavaScript files
app.js linguist-vendored
bootstrap.js linguist-vendored

